<h1>Showing your post <%= params[:id] %></h1>

<strong>Title:</strong> <%= @post.title %> <br>
<strong>Description:</strong> <%= @post.description %> <br>
<strong>Image:</strong> <%= @post.image %> <br>
<strong>Display:</strong> <%= @post.user.email %> <br>
<p2><%= link_to 'Back', posts_path %></p2>